header h1, header h1 a{
	text-align: center;
	margin: 40px 0 20px 0;
	font-size: 40px;
	letter-spacing: -2px;
	color: #404040;
	text-decoration: none;
}

.container{
	margin-bottom: 60px;
}

.content{
	margin-left: 0;
	margin-top: 20px;
	float: left;
}

.content h3.title{
	background: #f5f5f5;
	padding-left: 5px;
}

#bottom_page{
	clear: both;
	padding-top: 40px;
}

.sidebar{
	margin-top: 20px;
	float: right;
}

.sidebar h6{
	line-height: 18px;
	font-size: 14px;
}

#bottom_page ul p{
	padding: 0 14px;
	line-height: 34px;
	margin-bottom: 0;
	display: inline;
	float: left;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
}

pre code{
	background-color: transparent;
	color: #404040;
	padding: 0;
}