<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

	<link rel="stylesheet" href="{{ site.baseurl }}/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
<body>

	{% if site.baseurl == null %}
		{% assign linkhome = "/" %}
		{% else %}
		{% assign linkhome = site.baseurl %}
	{% endif %}

	<header>
	<h1><a href="{{ linkhome }}">{{ site.name }}</a></h1>
	</header>

	<div class="container">